*{
    margin: 0;
    padding: 0;
    font-style:normal;
    
}
html,body{
    height: 100%;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after{
    display: table;  
    content: "";
  }
  .clearfix:after{
      clear: both;
  }
  .clearfix{
      *zoom:1;
  }
  .indexul{
      list-style: none;
  }
  .indexa{
      text-decoration:none;
  }
  /* 字体声明 */
@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.ttf') format('truetype');
    }
    .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
header{
 /*头部样式*/
 width: 100%;
 height: 40px;
 background-color: #333333;
 line-height: 10px;
}
nav{
 /* 导航栏样式 */
 width: 1226px;
 background: #333;
 height: 40px;
}
.navber a{
 font-size: 10px;
 
 display: inline-block;
 color: #a0a8a6;
 text-decoration: none;
 line-height: 40px;

}
.navber a:hover{
 color: #ffffff;
 
}
.navber span{
 font-size: 10px;
 color: #403d39;
 margin: 0px 2.6px 0 3.5px;
}

.nav_left{
float: left;
position: relative;
}
.sjx{
    display: none;
    position: absolute;
    top: 22px;
    left: 509px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: transparent transparent white transparent;
    z-index: 999;
    cursor: pointer;
}

.ewm{
    overflow:hidden;
    position: absolute;
    top:100%;
    height: 0;
    left: 70%;
    width: 124px;
    background-color: #FFF;
    box-shadow: 0px 6px 7px 0px rgb(0,0,0,0.1);
    z-index: 999;
}
.ewmach{
    height: 141px;
}
.ewm img{
    display: block;
    width: 92px;
    height: 92px;
    margin-top: 13px;
    margin-left: 16px;
}
.ewm span{
    text-align: center;
    font-size: 14px;
    margin-top: -3px;
    display: block;
   
}
.nav_right{
float: right;
}
.cart{
width: 120px;
height: 40px;
background-color: #424242;
float: right;
box-sizing: border-box;
margin-left: 28px;
}

.cart em:first-child{
    content: "";
    font-family: 'iconfont';
    font-size: 20px;
    margin-right: 10px;
    vertical-align: -2px;
}
.cart_ovh{
    position: absolute;
    width: 320px;
    height: 0px;
    right: 150px;
    top: 40px;
    background-color: #FFF;
    margin-right: 82px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0px 7px 7px 0px rgb(0 0 0 / 10%);
    transition: height 0.5s;
    overflow: hidden;
}
.cart_ovh span{
    display: block;
    text-align: center;
    line-height: 100px;

}
.cartac{
    color:#fb670f;
    background-color: #FFFFFF;
}
.cart a{
text-align: center;
display: block;
margin-left: 2px;
}
.cart a:hover{
 color: #a0a8a6;
 
}
.cart a img{
line-height: 46px;
vertical-align:middle
}
.main{
    height: 670px;
    background-color: #fff;
}
.nav_logo_box{
height: 100px;

}
.nav_logo_son{
width: 1226px;
}

.logo{

float: left;
}

.logo img{
margin-top: 20px;
width: 54px;
height: 56px;
display: block;
}
/* 菜单栏 */
.nav_list{
width: 800px;
float: left;
}
.nav_ul{
    list-style: none;
    margin-top: 15px;
}
.nav_ul>li{
padding: 26px 10px 38px;
float: left;
cursor: pointer;
}
.nav_ul>li:first-child{
    margin-left: 175px;
}
.nav_list ul li a{
font-size: 16px;
color: #333333;
text-decoration: none;

}
.nav_list ul li:hover a{
color: #fb670f;

}

.nav_ul_son_box{
    z-index: 999;
    height: 0px;
    width: 100%;
    position: absolute;
    background-color: #FFF;
    left: 0;
    top: 138px;
    overflow: hidden;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.1);
    transition: height 0.5s;
}
.nav_ul_son_box::-webkit-scrollbar{
    display: none;
}
.nav_ul_son_boxac{
    height: 240px;
    border-top: 1px solid rgb(235, 235, 235);
}
.nav_ul_son_box ul{
    list-style: none;
    position: relative;
    cursor: pointer;
    margin-right: 150px;
}
.nav_ul_son_box ul li{
    float: left;
    margin:30px 2px;
    font-size: 12px;
    color: #555555;
    text-align: center;
    line-height: 20px;
    width: 180px;
    
}
.nav_ul_son_box ul li::after{
    content: '';
    position: absolute;
    height: 90px;
    width: 1px;
    top: 0;
    margin: 50px 62px;
    background-color: #555555;
    transform: scaleX(.2);
   
}
.nav_ul_son_box ul li:last-child::after{
    content: '';
    position: absolute;
    height: 90px;
    width: 1px;
    top: 0;
    margin: 50px 62px;
    background-color: #ffffff;
    transform: scaleX(.2);
}
.nav_ul_son_box ul li span{
    color: #fb670f;
}

.nav_ul_son_box ul li>img{
     display: block;
     width: 140px;
     height: 140px;
}

/* 搜索框 */
.Search{    
height: 50px;
width: 290px;
float: right;
border: 0;
margin-top: 25px;
position: relative;
}
.Search input[type=search]{
height: 50px;
width: 240px;
outline: none;
border: 1px solid #e0e0e0;
border-right: 0;
padding-left: 15px;
float: left;
}

.Search input[type=submit]{
 width: 50px;
 height: 50px;
 font-size: 16px;
 font-weight: 700;
 border: 1px solid #e0e0e0;
 background-color: transparent;
 cursor:pointer;
 float: right;
 transition: all 0.2s;
 
}

.Search input[type=submit]:hover{
 color: #fff;
 border: 1px solid #fb670f;
 background-color: #fb670f;
 
}


.con{
    z-index: 999;
    position:absolute;
    top: 50px;
    background-color: #FFF;
    border:1px solid #fb670f;
    border-top: 0;
    height: 200px;
    width: 241px;
    box-sizing: border-box;
    display: none;
    cursor: pointer;
    
}
.con ul li{
    font-size: 12px;
    padding-top: 5px;
    margin: 6px 20px;  
}
.banner{
    width: 1226px;
    height: 460px;
    clear: both;
}
.banner_lb{
    position:relative;
}
.benner_lby{
    position: absolute;
    top: 0;
    height: 460px;
    width: 100%;
    z-index: 455;
    overflow: hidden;
    cursor: pointer;
}
.benner_lby ul{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    height: 460px;
    width: 500%;
   
}
.benner_lby ul li{
    float: left;
}
.benner_lby ul li img{
    width: 1226px;
    height: 460px;
}

.font_lb_l,.font_lb_r{
    width: 41px;
    height: 69px;
    color: #d7d7d7;
    top: 50%;
    position: absolute;
    cursor: pointer;
    margin-top: -34.5px;
    background-color: #fff;
    z-index: 999;
}
.font_lb_l{
    background: url(./images/icon-slides.png); 
    background-position: -84px 0; 
    left: 230px;
}
.font_lb_l:hover{
    background: url(./images/icon-slides.png); 
    background-position: 0 0; 
    left: 230px;
}
.font_lb_r{
    background: url(./images/icon-slides.png); 
    background-position: -124px 0; 
    right: 0px;
}
.font_lb_r:hover{
    background: url(./images/icon-slides.png); 
    background-position: -42px 0; 
    right: 0px;
}
.banner_l{
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 460px;
    z-index: 555;
}
.banner_l>ul{
    padding-top: 15px;
    height: 460px;
    background-color:rgba(105,101,101,0.6 );
    box-sizing: border-box;
}
.banner_l>ul li{
    padding: 11px 0px 10px 20px;
    list-style: none;
}
.banner_l>ul>li:hover{
    background-color:#fb670f;
}
.banner_l>ul>li a{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.banner_l ul span{
    font-family: "iconfont";
    color: #e0e0e0;
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
    float: right;
    margin-top: 4px;
}

.banner_ez{
    position: absolute;
    width: 996px;
    height: 460px;
    left: 230px;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 7px 0px rgb(1 1 1 / 10%);
    background-color: white;
    display: none;
    cursor: pointer;
}
.banner_ez ul{
    
    margin-top: 14px;
    float: left;
}
.banner_ez ul li{
    width: 216px;
    height: 62px;
    padding-top: 0px;
    margin-top: 4px;
}
.banner_ez ul li img{
    width: 40px;
    vertical-align:middle;
    margin-right: 5px;
   
}
.banner_ez ul li a{ 
    text-align: center;
    font-size: 14px;
    color: #333;
}
.banner_ez ul li a:hover{ 
   
    color: #fb670f;
}
.banner_ezw2{
    width: 472px;
}
.banner_ezw3{
    width: 708px;
}
.circle{
    width: 100px;
    height: 21px;
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 999;
}
.circle>li{
    list-style: none;
    width: 5px;
    height: 5px;
    margin: 8px 6px;
    border:2px solid rgba(180, 180, 180, 0.6);
    border-radius: 50%;
    cursor: pointer;
    background-color: #959595;
    float: left;
}
.circle .cuerrent {
    background-color: rgba(251,251,251,0.8);
}
.home{
    margin-top: 14px;
    height: 170px;
}
.home_l_ul{
    list-style: none;
    width: 230px;
    height: 170px;
    float: left;
    background-color: #5f5750;
    text-align: center;
}


.home_l_ul li::after{
    content: "";
    background-color: #665e57;;
    position: absolute;
    width: 1px;
    height: 68px;
    left: 0;
    right: 0;
    top: 7px;
    margin:auto 0;
    margin-left: 3px;
}
.home .home_l_ul li{
    cursor: pointer;
    position: relative;
}
.home_l_ul li::before{
    content: "";
    background-color: #665e57;;
    position: absolute;
    width: 68px;
    height: 1px;
    left: 7px;
    top: 0;
    margin: 0 auto;
    
}
.home_l_ul li{
    width: 76px;
    height: 82px;
    float: left;
    
    
}
.home_l_ul li a{
    font-size: 10px;
    color: #cbc8c6;
    text-decoration: none;
}
.home_l_ul li img{
     display: block;
     width: 24px;
     height: 24px;
     margin: 14px auto 4px;
     filter: contrast(45%);
}
.home_l_ul li:hover a{
    color: #fff;
}
.home_l_ul li:hover img{
    filter: contrast(100%);
}
.home_r ul{
    list-style: none;
} 
.home_r ul li{
    width: 316px;
    height: 170px;
    float: right;
    margin-left: 16px;
    transition: all, .5s;
    
}
.home_r ul li:hover{
    box-shadow: 0px 2px 11px 7px rgb(0,0,0,0.1);;
}
.home_r img{
    width: 316px;
    height: 170px;
    cursor: pointer;
}
.main2{
    width: 100%;
    top: 0;
    background-color: #f8f8f8;
}
.main2_son{
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 10px;
}
.mian2_son_img1 img{
    width: 1226px;
    height: 120px;
    cursor: pointer;
}
.main2_sontj{
    padding-top: 10px;
}
.main2_sontj a{
    text-decoration: none;
    
}
.main2_sontj h2{
    font-size: 22px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
    float: left;
}
.main2_sontj a{
    font-size: 16px;
    color:#424242; ;
    line-height: 58px;
    float: right;
    transition: all 0.3s;
}
.mian2_span1{
    font-family: "iconfont";
    font-size: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    padding: 6px;
    color: #FFF;
    margin-left: 8px;
    vertical-align: 1px;
    background: #b0b0b0;
    border-radius: 50%;
    transition: all 0.3s;
}

.miansontj_rgb:hover a{
    color: #fb670f;
}
.miansontj_rgb:hover span{
    color: #FFF;
    background-color:#fb670f ;
}

.tjt_l{
    background-color: #FFF;
    float: left;
    transition: all 0.5s;
}
.tjt_l ul li{
    height: 614px;
    width: 234px;
}
.tjt ul li{
     list-style: none;
     transition: all 0.5;
}
.tjt_l:hover {
    box-shadow: 0 1px 10px 2px rgba(0,0,0,0.1);
    transform: translate(0,-5px);
}
.tjt_l img{
    display: block;
    height: 614px;
    width: 234px;
}
.tjt_r ul li a {
    text-decoration: none;
    color: black;
}
.tjt_r ul{
    list-style: none;
}
.tjt_r ul li{
   height: 300px;
   width: 234px;
   overflow: hidden;
   float: left;
   position: relative;
   transition: all 0.5s;
   background-color:#fff;
   margin-left: 14px;
   margin-bottom: 14px;
   transition: all 0.4s;
}
.tjt_r ul li div{
    margin:10px auto 25px;
}
.tjt_r img{
    display: block;
    width: 160px;
    height: 160px;
    border: 0;
    margin: 0 auto;
}
.tjt_r h3{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tjt_r p{
    font-size: 12px;
    color: #b0b0b0;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-top: 7px;
    text-align: center;
}
.flex_zy{
    width: 234px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num{
    font-size: 14px;
    color:#fb670f ;
}
.num2{
    font-size: 14px;
    color: #ccc;
    text-decoration: line-through;
    margin-left: 5px;
}
.tjt_r li:hover{
    box-shadow: 0 1px 10px 2px rgba(0,0,0,0.1);
    transform: translate(0,-5px);
}
.mk{
    height: 700px;
    padding-top: 20px;
}

.main_a2 ul li{
    list-style: none;
    float: right;
    line-height: 58px;
}
.main_a2 li a{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #424242;
    height: 40px;
    margin-left: 20px;
    transition: all,0.8s;
    border-bottom: 2px solid #f8f8f8;

}


.main_a2 .ac2{
    color: #fb670f;
    border-bottom: 2px solid #fb670f;
}
.main_a2 .ac1{
    color: #424242;
    border-bottom: 2px solid #f8f8f8;
}
.tjt_r .zuihouli{
    height: 140px;
    width: 234px;
    cursor: pointer;
}
.zuihouli_l{
    float: left;
}
.zuihouli a{
    margin: 40px auto;
    width: 160px;
    display: block;
}
.tjt_r .zuihouli h3{
    font-size: 18px;
    color: #333;
}
.tjt_r .zuihouli p{
    display: block;
    font-size: 12px;
    color: #757575;
    text-align:left;
    margin: 5px 0 0 0;
   
}
.fonz_r{
    font-family: "iconfont";
    font-size: 54px;
    width: 54px;
    height: 54px;
    color: #fb670f;
    background: #FFF;
    border-radius: 50%;
    float: right;
}
footer{
    width: 100%;
    height: 332px;
    background-color: #fff;
}
.footer-service{
    width: 1226px;
    padding-top: 27px;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service ul{
    list-style: none;
    height: 50px;
    
}
.footer-service li{
    float: left;
    height: 25px;
    width:19.7%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}
.footer-service li:first-child{
    border-left: 1px solid #FFF;
}
.footer-service li a{
    color: #616161;
    transition: all 0.5s;
    text-decoration: none;
}
.footer-service ul li a span{
    font-family: "iconfont";
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 6px;
    vertical-align: -4px;
    color: #616161;
    transition: all 0.5s;
}
.footer-service li a:hover{
     color:#fb670f ;
}
.footer-service li a:hover span{
    color:#fb670f ;
}
.footer-links{
    padding: 40px 0;
}
.footer-links dl{
    float: left;
    width: 160px;
}
.footer-links dt{
    margin: -1px 0 20px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer-links dd{
    margin-top: 10px;
}
.footer-links dd a{
    text-decoration: none;
    color: #757575;
    font-size: 12px;
}
.footer-links dd a:hover{
    color:#fb670f ;
}
.col-contact{
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.col-contact p:first-child{
    font-size: 22px;
    color:#fb670f;
}
.col-contact p{
    font-size: 12px;
    color: #757575;
}
.col-contact a{
    text-decoration: none;
    margin: 5px 0;
    color:#fb670f ;
    text-align: center;
    font-size: 12px;
    width: 118px;
    height: 28px;
    display: inline-block;
    border: 1px solid #fb670f;
    line-height: 28px;
    transition: all,0.5s;
}
.col-contact a:hover{
    color: #fff;
    background-color: #fb670f;
}
.gzxiaomi span{
    font-size: 12px;
    margin-top: 10px;
    color: #616161;
}
.site-info{
    padding: 30px 0;
    background-color: #fafafa;
    width: 100%;
    height: 210px;
    font-size: 12px;
}
.sitepo{
    position: relative;
}
.logo_ir{
    width: 54px;
    height: 56px;
    position: absolute;
    left: 0;
    top:0;
}
.logo_ir img{
    display: block;
    width: 54px;
    height: 56px;
}
.info-text{
    color: #b0b0b0;
    padding-left: 77px;
}
.info-text p{
    margin: 0;
    line-height: 18px;
}
.info-text p a{
    color: #757575;
    text-decoration: none;
}
.info-text p a:hover{
    color: #fb670f;
    text-decoration: none;
}
.info-links{
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 77px;
}
.info-links a{
    display: inline-block;
}
.info-links img{
    width: auto;
    height: 28px;
}
.slogan{
    background: url(./images/slogan2020.png) no-repeat center 0;
    height: 19px;
    width: 100%;
    display: inline-block;
    margin: 30px auto 0;

}